body {
    background: #ffffff;
    width: 100%;
    height: 100%;
}

.box_move {
    width: 100px;
    height: 60px;
    background: white;
    font: normal 2em Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 0;
    border-radius: 3px;
}

.box {
    width: 100px;
    height: 100px;
    float: left;
    background: #bebebe;
    margin: 10px;
    border-radius: 3px;
}

#game {
    margin: 0 auto;
    border-radius: 3px;
    width: 480px;
    height: 480px;
    background: #808080;
    position: relative;
    font: 18px ComicSansMF;

}

.arrow {
    max-width: 100px;
}

.buttons {
    float: left;
    clear: both;
    border: 5px solid #bebebe;
    border-radius: 5px;
}

.buttons > div {
    margin: 10px;
}

#divup:hover, #divleft:hover, #divdown:hover, #divright:hover {
    background: #5090a9;
}

#divup:active, #divleft:active, #divdown:active, #divright:active {
    background: #15a900;
}

#right_panel {
    float: right;
}

#show_score {
    background: rgba(255, 255, 255, 1);
    width: 130px;
    height: 30px;
    float: left;
    margin: 15px 50px 0 60px;
    border: 4px solid #3bb1ff;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 10px;
    font-family: ComicSansMF;
}

#save_pole {
    clear: both;
    float: left;

}

#score_name {
    float: left;
}

p {
    margin: 0;
}

#score {
    margin-left: 5px;
    float: left;
}
